@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,300;1,900&display=swap');

* {
    font-family: "Roboto";
}

:root {
    --text-color: #1f2937;
}

a {
    text-decoration: none;
}

/* Pointer cursor */
button,
.info-pic:hover {
    cursor: pointer;
}

button {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 12px;
    padding: 6px 36px;
    border: none;
    border-radius: 7px;
}

.button-border {
    border: 2px solid white;
}

/* Footer and Flex Content  */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    min-height: 50vh;
}

.content {
    flex: 1;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px; /* padding to the others may want to make this in group selector */
}

.header-links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 26px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

/* Intro */
.intro {
    display: flex;
    justify-content: space-between;
    padding: 108px 200px 125px;
    gap: 40px;
}

.intro-title {
    font-size: 48px;
    font-weight: bolder;
}

.ph-img, 
.kessoku-band-img {
    height: 270px;
    width: 480px;
}

.ph-img {
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 0px #131009;
}

/* Info */
.info-title {
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.info-pic,
.kb-img, 
.info-item {
    height: 188px;
    width: 179px;
}

.kb-img {
    border-radius: 5.5px;
}

.info-pic {
    border: solid 4px #3b82f6;
    border-radius: 10px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    row-gap: 120px;
    margin-bottom: 125px;
    flex-flow: row wrap;
}

.info-pic:hover {
    transform: scale(1.1);
}

.info-subtext {
    text-align: center;
    margin-top: 30px;
    /* text-shadow source: https://stackoverflow.com/a/69999807 */
    text-shadow: -2px -2px 0 var(--text-color),-2px -1px 0 var(--text-color),-2px 0px 0 var(--text-color),-2px 1px 0 var(--text-color),-2px 2px 0 var(--text-color),-1px -2px 0 var(--text-color),-1px -1px 0 var(--text-color),-1px 0px 0 var(--text-color),-1px 1px 0 var(--text-color),-1px 2px 0 var(--text-color),0px -2px 0 var(--text-color),0px -1px 0 var(--text-color),0px 0px 0 var(--text-color),0px 1px 0 var(--text-color),0px 2px 0 var(--text-color),1px -2px 0 var(--text-color),1px -1px 0 var(--text-color),1px 0px 0 var(--text-color),1px 1px 0 var(--text-color),1px 2px 0 var(--text-color),2px -2px 0 var(--text-color),2px -1px 0 var(--text-color),2px 0px 0 var(--text-color),2px 1px 0 var(--text-color),2px 2px 0 var(--text-color);
}

/* Quote */
.quote-box {
    background: url(Images/bocchi-the-rock-concert.gif);
    padding: 130px 0px;
    display: flex;
    justify-content: center;
    
    /* Parallax scrolling effect, source: https://www.w3schools.com/howto/howto_css_parallax.asp */
    /* Set a specific height */
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-content {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    max-width: 800px;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

/* Sign-Up Box */
.su-box {
    background-color: #3882F6;
    border-radius: 10px;
    margin: 100px 150px;
    padding: 50px 0px;
}

.su-content {
    display: flex;
    justify-content: space-around;
}

.su-title {
    font-size: 24px;
    font-weight: 500;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0px 45px; 
}

/* Colors */
.hero,
.footer {
    background-color: #1F2937;
}

button,
.su-box {
    background-color: #3b82f6;
}

.header-logo,
.su-title,
.quote-box,
.footer {
    color: #F9FAF8;
}

button,
.link,
.intro-desc,
.ph-img,
.su-subtext {
    color: #E5E7EB;
    font-size: 17px;
}

.info-title {
    color: #1F2937;
}

/* info-subtext colors */
.hitori {
    color: #ff00ff;
}

.nijika,
.intro-title,
a:hover {
    color: #ffff00;
}

.ryo {
    color: #00ffff;
}

.ikuyo {
    color: #ff250e;
}