@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,300&display=swap');

* {
    font-family: "Roboto";
}

body {
    margin: 0;
}

/* Hero */

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px; /* padding to the others may want to make this in group selector */
}

.header-links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 26px;
}

/* Intro */
.intro {
    display: flex;
    justify-content: space-between;
    padding: 108px 200px 125px;
    gap: 40px;
}

.ph-img {
    background-color: #6d747d;
    color: #E5E7EB;
    height: 230px;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0px 45px; 
}

/* Hero and Footer Text */
.header-logo,
.intro-title,
.footer {
    color: #F9FAF8;
}

/* Hero and Footer */
.hero,
.footer {
    background-color: #1F2937;
}

/* Header/Sign Up Links and Intro Subtext */
.link, 
.intro-desc {
    color: #E5E7EB;
    font-size: 17px;
}

/* Header */
.header-logo {
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

/* Intro */
.intro-title {
    font-size: 48px;
    font-weight: bolder;
}

/* Button */
button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 500;
    margin-top: 12px;
    padding: 7px 32px;
    border: none;
    /* border: 1px solid white; */
    border-radius: 7px;
}

/* Info */
.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

/* Quote */
.quote-box {
    background-color: #E5E7EB;
    background-size: 100%;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}