@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    font-family: "Roboto";
}

body {
    margin: 0;
}

/* Hero and Footer Text */
.header-logo,
.intro-title,
.footer {
    color: #F9FAF8;
}

/* Hero and Footer */
.hero,
.footer {
    background-color: #1F2937;
}

/* Header Links and Intro Subtext */
a,
.intro-desc {
    color: #E5E7EB;
    font-size: 18px;
}

/* Header */
.header-logo {
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Intro */
.intro-title {
    font-size: 48px;
    font-weight: bolder;
}

/* Button */
button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
}

/* Info */
.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

/* Quote */
.quote-box {
    background-color: #E5E7EB;
    background-size: 100%;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}